# C extensions
*.so

# Eric IDE
*.e4p
.eric5project/
.issues/

# PyCharm IDE
.idea/

# Miscellaneous
*~
*.*~
*.py[cod]
*.sw[op]
.venv

.DS_Store

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
.settings

# Packages
__pycache__
build/
develop-eggs
dist/
*.egg
*.egg-info
eggs/
.installed.cfg
parts
pip-log.txt
sdist
var

# Rope
.ropeproject/

# Translations
*.mo

# Unit test / coverage reports
.cache
.coverage
nosetests.xml
tempfile.txt
.testOutput
.tox
