# C extensions
*.so

# Eric IDE
*.e4p
.eric5project/
.issues/

# Miscellaneous
*~
*.*~
*.py[cod]
*.sw[op]

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
.settings

# Packages
__pycache__
build/
develop-eggs
dist/
*.egg
*.egg-info
eggs/
.installed.cfg
lib
lib64
parts
pip-log.txt
sdist
var

# Rope
.ropeproject/

# Translations
*.mo

# Unit test / coverage reports
.coverage
nosetests.xml
tempfile.txt
.testOutput
.tox
