Package: qtodotxt
Version: 0.9
Architecture: all
Maintainer: Matthieu Nantern <matthieu.nantern@gmail.com>
Installed-Size: 3
Depends: python-pyside
Section: utils
Priority: optional
Homepage: https://github.com/mNantern/QTodoTxt.git
Description: QTodoTxt is a cross-platform UI client for todo.txt files (see http://todotxt.com)
