[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
StartupNotify=true
Icon=/usr/share/qtodotxt/artwork/icon/qTodo-512.png
Name=QTodoTxt
Comment=cross-platform TODO-list organizer for todo.txt files
Exec=qtodotxt %u
Categories=Office;ProjectManagement;
Keywords=Organizer;Task;Activity;GTD
MimeType=text/plain;
